body {
	margin:0;
	font-family:微软雅黑;
}
a {
	color:inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* 大于1000px限制在1000px */
@media (min-width: 1000px) {
	div.container {
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
		display: table;
	}
	
	/* 页眉 */
	header {
		background-color: #0081C6;
	}
	
	header div.area-list {
		display: inline-block;
		width: 100px;
	}
	
	header div.title {
		display: inline-block;
		width: 790px;
		padding-left: 10px;
	}
	
	header div.add-func {
		display: inline-block;
		width: 100px;
	}
	
	header div.header-button {
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: #00A1E6;
		color: #FFF;
		border-radius: 5px;
		text-align: center;
		cursor: pointer;
	}
	
	/* main */
	main div.container {
		display: flex;
		justify-content: center;
	}
	
	/* 板块列表 */
	main div.area-list-menu {
		width: 200px;
		display: inline-block;
	}
	
	main div.area-list-menu div.button {
		border-left: 3px solid #666;
		padding: 5px;
	}
	
	main div.area-list-menu div.menu-first {
		background-color: #46CDCF;
	}
	
	main div.area-list-menu div.menu-second {
		background-color: #ABEDD8;
		padding-left: 10px;
	}
	
	/* 页面内容 */
	main div.main-part {
		width: 600px;
		display: inline-block;
	}
	
	/* 功能列表 */
	main div.func-list-menu {
		width: 200px;
		display: inline-block;
	}
	
	/* 页脚 */
	footer {
		background-color: #DDD;
	}
	
	footer div.container {
		display: table;
	}
	
	footer div.cookies {
		background-color: #CCC;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
		width: 180px;
		display: inline-block;
	}
	
	footer div.date-time {
		text-align: right;
		width: 800px;
		color: #000;
		display: inline-block;
	}
}

/* 800px到1000px限制在640px */
@media (min-width: 800px) and (max-width: 1000px) {
	div.container {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* 800px以下 */
@media (max-width: 800px) {
	
}

