body {
	margin:0;
	font-family:微软雅黑;
}
a {
	color:inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
div#header {
	background-color: #498CFF;
	width:100%;
	height:40px;
	border-radius:10px;
}
div.header-text {
	line-height:40px;
	text-align:center;
	color:#FFF;
}
/* 页眉 */
div#areaList {
	width:100px;
	height:100%;
	
	border-radius:10px;
	float:left;
	cursor:pointer;
}
div#title {
	margin-left:10px;
	float:left;
}
div#functionButton {
	width:60px;
	height:100%;
	background-color:#3B7EFF;
	float:right;
	border-radius:10px;
	cursor:pointer;
}
div.out {
	height: 400px;
	float:left;
}
div.left-part {
	width: 20%;
	
}

div#areas {
	display: none;
}
div.middle-part {
	width: 60%;
}
div.right-part {
	width: 20%;
	background-color: #C2F7D4;
}

div#functions {
	float: right;
	display: none;
}
/* 页内按钮 */
div.button {
	width:90%;
	height:40px;
	line-height:40px;
	padding-left:10%;
	
}
div.menu-first {
	background-color: #C2D7A4;
}

div.menu-second {
	background-color: #C2F7D4;
}
/* 页脚 */
div#footer {
	width: 100%;
	height: 50px;
	background-color:#DDD;
	border-radius:10px;
	float:left;
}
div#footer div#cookie {
	width:200px;
	height:50px;
	text-align:center;
	line-height:50px;
	background-color:#CCC;
	border-radius:10px;
	float:left;
}
div#footer div#date_time {
	width:200px;
	height:50px;
	text-align:center;
	line-height:50px;
	border-radius:10px;
	float:right;
}